{% extends 'backend-base.html' %}

{% block menupinggir %}
<ul id="dashboard-menu" class="nav nav-list">
    {% for tag in tags %}
    <li class="active ">
        <a rel="tooltip" data-placement="right" data-original-title="Dashboard" href="index.html">
            <span class="caption">{{tag.main}}</span>
        </a>
    </li>
        {% if tag.sub %}
            {% for sub in tag.sub %}
            <li class="active ">
                <a rel="tooltip" data-placement="right" data-original-title="Dashboard" href="index.html">
                    <span class="caption">>> {{sub}}</span>
                </a>
            </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block content_block %}
<div class="row">
    <div class="col-sm-8 main-content">
        <h2 class="in-header">Pertanyaan Terbaru<span class="info">Daftar pertanyaan relevan terbaru.</span></h2>
        <ul class="item-summary">
            <li>
                <div class="overview">
                    <p class="main-detail">
                        April 14th
                    </p>
                    <span class="label label-info">New</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        Jan 24th
                    </p>
                    <span class="label label-success">Terjawab</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>

                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        May 9th
                    </p>
                    <span class="label label-success">Terjawab</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        June 3rd
                    </p>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <h2 class="in-header">Artikel Terbaru <span class="info">Daftar pertanyaan relevan terbaru.</span></h2>
        <ul class="item-summary">
            <li>
                <div class="overview">
                    <p class="main-detail">
                        April 14th
                    </p>
                    <span class="label label-info">New</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        Jan 24th
                    </p>
                    <span class="label label-success">Terjawab</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>

                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        May 9th
                    </p>
                    <span class="label label-success">Terjawab</span>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="overview">
                    <p class="main-detail">
                        June 3rd
                    </p>
                    <div class="stats" style="margin-top: 5px">
                        <span>27 <i class="icon-comment"></i></span>
                        <span>158 <i class="icon-eye-open"></i></span>
                    </div>
                </div>
                <div class="info">
                    <p>
                        Trust fund photo letterpress, keytar raw skydiving denim grape keffiyeh etsy art base apple party ball before they.
                    </p>
                    <a class="btn btn-default btn-sm" href="#">Show Details</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div id="three-summaries" class="row"></div>

        <h2>Inbox</h2>

        <table class="table table-first-column-check table-hover">
            <thead>
                <tr>
                    <th class="col-md-1"><i class="icon-star-empty"></i></th>
                    <th class="col-md-2">From</th>
                    <th class="col-md-8">Subject</th>
                    <th class="col-md-3">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="icon-star-empty"></i></a></td>
                    <td><strong>John Doe</strong></td>
                    <td><strong>Message body goes in here</strong><span class="label label-success pull-right" style="margin-left: .5em;">Follow Up </span><span class="label label-info pull-right">Work</span></td>
                    <td><strong>11:23 PM</strong></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="icon-star-empty"></i></a></td>
                    <td>John Doe</td>
                    <td>Message body goes in here <span class="label label-success pull-right">Follow Up</span></td>
                    <td>Sept4</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="icon-star"></i></a></td>
                    <td><strong>John Doe</strong></td>
                    <td><strong>Message body goes in here</strong><span class="label label-important pull-right">Spam</span></td>
                    <td><strong>Sept3</strong></td>
                </tr>
                <tr>
                    <td><a href="#"><i class="icon-star"></i></a></td>
                    <td><strong>John Doe</strong></td>
                    <td><strong>Message body goes in here</strong><span class="label pull-right">Personal</span></td>
                    <td><strong>Sept3</strong></td>
                </tr>
            </tbody>
        </table>

        <h2>Top Users</h2>
        <div class="well widget" style="display: none;">
            <form class="form-inline" style="margin-bottom: 0px;">
                <input class="input-xlarge" placeholder="Search All Users..." type="text">
                <button class="btn btn-default" type="button">
                    <i class="icon-search"></i> Go
                </button>
            </form>
        </div>
        <table class="table table-first-column-check">
            <thead>
                <tr>
                    <th>
                    <input type="checkbox">
                    </th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>Mark</td>
                    <td>Tompson</td>
                    <td>the_mark7</td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>Ashley</td>
                    <td>Jacobs</td>
                    <td>ash11927</td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>Audrey</td>
                    <td>Ann</td>
                    <td>audann84</td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>John</td>
                    <td>Robinson</td>
                    <td>jr5527</td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>Aaron</td>
                    <td>Butler</td>
                    <td>aaron_butler</td>
                </tr>
                <tr>
                    <td>
                    <input type="checkbox">
                    </td>
                    <td>Chris</td>
                    <td>Albert</td>
                    <td>cab79</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4 sidebar">
        <div class="widget input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <i class="icon-search"></i>
                </button> </span>
        </div>

        <div class="widget">
            <h2>Jadwal Pelatihan</h2>
            <ul class="cards list-group" style="border-bottom:0px;">

                <li class="list-group-item">
                    <button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;">
                        Open
                    </button>
                    <i class="pull-left muted icon-bar-chart" style="margin-top:.3em;"></i>
                    <div>
                        <p class="title">
                            Campaign Ends
                        </p>
                        <p class="info">
                            Saturday, July 22nd 12:45PM
                        </p>
                    </div>
                </li>

                <li class="list-group-item">
                    <button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;">
                        Open
                    </button>
                    <i class="pull-left muted icon-group" style="margin-top:.3em;"></i>
                    <div>
                        <p class="title">
                            User Training
                        </p>
                        <p class="info">
                            Saturday, July 22nd 12:45PM
                        </p>
                    </div>
                </li>

                <li class="list-group-item">
                    <button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;">
                        Open
                    </button>
                    <i class="pull-left muted icon-time" style="margin-top:.3em;"></i>
                    <div>
                        <p class="title">
                            Free Trial Ends
                        </p>
                        <p class="info">
                            Saturday, July 22nd 12:45PM
                        </p>
                    </div>
                </li>

                <li class="list-group-item">
                    <button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;">
                        Open
                    </button>
                    <i class="pull-left muted icon-gift" style="margin-top:.3em;"></i>
                    <div>
                        <p class="title">
                            User Appreciation Day
                        </p>
                        <p class="info">
                            Saturday, July 22nd 12:45PM
                        </p>
                    </div>
                </li>

                <li class="list-group-item">
                    <button class="btn btn-default pull-right btn-sm" style="margin-top: .8em;">
                        Open
                    </button>
                    <i class="pull-left muted icon-plane" style="margin-top:.3em;"></i>
                    <div>
                        <p class="title">
                            Flight Training
                        </p>
                        <p class="info">
                            Saturday, July 22nd 12:45PM
                        </p>
                    </div>
                </li>

                <li class="more">
                    <a href="#">Tampilkan Semua</a>
                </li>

            </ul>
        </div>
        <div class="widget">
            <h2>Label-Label</h2>
            <div style="padding: 10px 15px;">
                <a href="#"><span class="large label category label-info">Announcements</span></a>
                <a href="#"><span class="large label category label-info">Company</span></a>
                <a href="#"><span class="large label category label-info">News</span></a>
                <a href="#"><span class="large label category label-info">Events</span></a>
                <a href="#"><span class="large label category label-info">Info</span></a>
                <a href="#"><span class="large label category label-info">Fun Stuff</span></a>
                <a href="#"><span class="large label category label-info">Company</span></a>
                <a href="#"><span class="large label category label-info">News</span></a>
                <a href="#"><span class="large label category label-info">Events</span></a>
                <a href="#"><span class="large label category label-info">Company</span></a>
                <a href="#"><span class="large label category label-info">Events</span></a>
                <a href="#"><span class="large label category label-info">Company</span></a>
                <a href="#"><span class="large label category label-info">News</span></a>
                <a href="#"><span class="large label category label-info">Announcements</span></a>
                <a href="#"><span class="large label category label-info">Events</span></a>
                <a href="#"><span class="large label category label-info">Info</span></a>
                <a href="#"><span class="large label category label-info">Fun Stuff</span></a>
            </div>
        </div>

    </div>
</div>
{% endblock %}